html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: #4b4848;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 400px;
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

textarea {
  width: 90%;
  padding: 0.8rem;
  border: 1px solid #686868;
  border-radius: 5px;
  resize: vertical;
  transition: border-color 0.3s;
  margin-bottom: 1rem;
  font-size: 1rem;
}

textarea:focus {
  outline: none;
  border-color: #007BFF;
}

button {
  display: inline-block;
  background-color: #383737;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #4b4848;
  border: 2px solid #fff;
  color: #fff;
  transform: translateY(-2px);
}

.git-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  z-index: 1000;
}